body{
    background-image: url("https://identity.flickr.com/img/033120190455-by-Henry.2edde7a9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: Proxima Nova,Helvetica,sans-serif;
}
.main{
    display: flex;
    height: 50px;
  
    padding: 0;
    margin: 0;
justify-content: space-between;
   text-align: center;
  background-color: rgb(17, 17, 16);
  opacity: 0.85;

  
   
}
 
.logo img{
   margin-top: 10px;
}
.total
{
    text-align: center;
}
.total .box{
    
   
margin-left: auto;  
margin-right: auto;
}
.total .ll
{
    display: flex;

}
.box
{  display: flex;
   flex-wrap: wrap;
   flex-direction: column;
  justify-content: center;
    background-color: white;
    height: 270px;
    width: 350px;
    border: 1px skyblue solid;
    border-radius: 3px;
}
.inp, .inp1,.logo,.submit, .signuplink{
    display: flex;
    justify-content: center;
}
.signuplink a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.875rem;
    color: #128fdc;
}
.signuplink p{
    font-size: 0.875rem;
}
.inp1 input
{ border-radius: 1px;
    border: 1px #000000  solid;
  border-radius: 0.25rem;
    height: 40px;
 width: 295px;
 font-size: 1rem;

}
.inp{
    font-size: 1rem;
}
 .submit button{ 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #128fdc;
    color: white;
    font-size: 1rem;
    width: 300px;
    margin-top: 2rem;
    height: 40px;
    border: #128fdc solid 2px;
    border-radius: 0.25rem;
 }
 .ll{
    display: flex;
    
    margin-top: 0.5rem;
width: 100%;
justify-content: center;
    
 }
 .ll select{
margin-right: 140px;
background-color: transparent;
color: white;
font-size: 1rem;


 }
 .ll a
 {
    color: white;
    text-decoration: none;
 }